[submodule "external/axmol"]
	path = external/axmol
	url = git@github.com:zicameau/axmol-zicameau.git
	branch = dev
[submodule "external/axslcc"]
	path = external/axslcc
	url = https://github.com/axmolengine/axslcc.git
